http:
  port: "8085"
  private:
    port: "8091"
    
https:
  port: "8082"
  private:
    port: "8092"
    
api:
  id: "18343311"
  majorVersion: "v1"
  groupId: "82dfac12-b94d-419e-8285-2a25c522ad8e"
  artifactId: "covid19-case-data-database-sapi"
  version: "1.0.3"
  specification: "resource::${api.groupId}:${api.artifactId}:${api.version}:raml:zip:covid19-case-data-database-sapi.raml"

covid19CaseDataDatabase:
  host: "localhost" 
  port: "1433"
  instance: "LAPTOP-LE4O67B8\\SQLEXPRESS"
  user: "mulesoftuser"
  //password: "Mule@poc2022"
  dbName: "MuleSoft"
  
covid19CaseDistributionDLQ:
  username: "admin"
  password: "admin"
  brokerUrl: "tcp://localhost:61616?jms.prefetchPolicy.queuePrefetch=10"
  name: "Covid19CaseDistributionDLQ"
  